

body{
	font-family: 'Ubuntu', sans-serif;
}
.badge{
	background: #d9534f;
}
.myTitle{
	position: relative;
}
.myTitle p{
	position: absolute;
	left: 5px;
	bottom: -45px;
	z-index: 1;
	background: #e2e2e2;
	width: 200px;
	padding: 7px;
}