

body{
	font-family: 'Ubuntu', sans-serif;
}
.badge{
	background: #d9534f;
}
.myTitle{
	position: relative;
}
.myTitle p{
	position: absolute;
	left: 5px;
	bottom: -45px;
	z-index: 1;
	background: #e2e2e2;
	width: 200px;
	padding: 7px;
}
/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
	padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}